body{
    font-family: 'Roboto', sans-serif;
}
 a{
 	text-decoration: none !important;
 }
#paypal-button{

   padding: 10px 0 30px 0;
   margin: 10px 0 10px 0;

}
.paypal-button{
    margin: auto auto auto 15%;
}


    /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
        .paypal-button{
                 margin: auto;
            }
        }

.search-bar{
    width: 35vw;
    margin-left: 6rem;
}

.ui-menu{
    z-index: 350;
}

/*rating*/
.rating-css div{
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input{
    display: none;
}
.rating-css input + label{
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}



